@page
@model VWStockApp.Pages.StockRepo.CreateModel

@{
    ViewData["Title"] = "Add Stock Items";
}

<h1>Add</h1>

<h4>Stock Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
		<form method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="StockItem.MakeID" class="control-label"></label>
				<select id="MakeID" asp-for="StockItem.MakeID" class="form-control"
						asp-items="@Model.CarMakeSL">
					<option value="">-- Select Make --</option>
				</select>
				<span asp-validation-for="StockItem.Make" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StockItem.CarModelID" class="control-label"></label>
				<select id="ModelID" asp-for="StockItem.CarModelID" class="form-control">
					<option value="">-- Select Model --</option>
				</select>
				<span asp-validation-for="StockItem.CarModel" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StockItem.TrimLevelID" class="control-label"></label>
				<select id="TrimID" asp-for="StockItem.TrimLevelID" class="form-control">
					<option value="">-- Select Trim Level --</option>
				</select>
				<span asp-validation-for="StockItem.TrimLevel" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StockItem.ColourID" class="control-label"></label>
				<select asp-for="StockItem.ColourID" class="form-control"
						asp-items="@Model.ColourSL">
					<option value="">-- Select Colour --</option>
				</select>
				<span asp-validation-for="StockItem.Colour" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="control-label">Price</label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">R</span>
					</div>
					<input id="Price" class="form-control" aria-label="Amount" value="0" style="text-align: right;" disabled/>
					<div class="input-group-append">
						<span class="input-group-text">.00</span>
					</div>
				</div>
				<span class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="StockItem.PriceModifier" class="control-label"></label>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">R</span>
					</div>
					<input asp-for="StockItem.PriceModifier" class="form-control" aria-label="Amount" value="0" style="text-align: right;" />
					<div class="input-group-append">
						<span class="input-group-text">.00</span>
					</div>
				</div>
				<span asp-validation-for="StockItem.PriceModifier" class="text-danger"></span>
			</div>
			
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary btn-block" />
			</div>
		</form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
